h2{
    padding: 20px;
    text-align: center;
    background: black;
    color:beige;
    font-size: 30px;
}
h3{
    font-weight: bold;
    font-size: 25pt;
}
img{
    border-style: outset;
    border-width: 1px;
    border-color: black;
    width: 200px;
    height: 200px;
}
.link{
    color: crimson;
    text-decoration: underline;
}
li{
    font-weight: bold;
}
body{
    background-color: beige;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.text{
    width: 1500px;
    margin: 0 auto;
}
#main,
#contact,
#bio-pic{
    float: left;
}
#main {
    width: 70%;
}
#contact{
    width: 30%;
}
#bio-pic{
    margin-right: 15px;
    height: 200px;
    width: 200px;
}