h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blue;
    text-align: center;
    background-color: black;
    background-size: 200px;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: dotted;
    text-decoration-color: blue;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: chocolate;
    border-style: double;
}
img{
    border-style: outset;
    border-width: thick;
    border-color: black;
}